[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
UserSettings/

*.csproj
*.sln
.vs/
.vscode/

# Unity cache khác
MemoryCaptures/
Recordings/

# OS rác
.DS_Store
Thumbs.db

# Rider / JetBrains (nếu dùng sau này)
.idea/

# Build output (bạn đã có nhưng thêm cho chắc)
Builds/